.logo{
    cursor: pointer;
    display: block;
}

.logo img{
    width: 100%;
}

.header{
    padding: 25px 0;
    background: #fff;
}

.logo--header{
    width: 150px;
}

.nav--header{
    margin: 20px 0 10px 0;
}
